<script setup lang="ts">
import MessagesList from "@/components/MessagesList.vue";
import MessagesForm from "@/components/MessagesForm.vue";
import {useChatStore} from "@/store/chat.store";
import type {UserType} from "@/store/types";

defineProps<{
  currentUser: UserType
}>();

const chatStore = useChatStore();

</script>

<template>

    <div class="chat-room">
      <template v-if="chatStore.isVisible()">
        <h2>Chat with #{{chatStore.currentUser?.username}} - {{chatStore.currentUser?.id}} - {{chatStore.currentUser?.socketId}}</h2>
        <MessagesList/>
        <MessagesForm/>
      </template>
      <template v-else>
        <div class="hero">
          <h2>Please select user to chat with.</h2>
        </div>
      </template>
    </div>

</template>

<style>
.chat-room {
  border: 1px solid #282828;
  margin: 5px;
  padding: 5px;
  min-height: 500px;
  width: 100%;
  .hero {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    h2 {
      display: block;
    }
  }
}
</style>
