<script setup lang="ts">
import Lobby from "@/components/Lobby.vue";
import ChatRoom from "@/components/ChatRoom.vue";
import {type Ref, ref} from "vue";
import type {UserType} from "@/store/app.store";

let currentUser: Ref<UserType> = ref({});

</script>

<template>
  <div class="chat">

    <Lobby :current-user="currentUser" />
    <ChatRoom :current-user="currentUser" />
  </div>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}
.chat {
  display: grid;
  width: 100%;
  grid-template-columns: 300px auto;
}

</style>
