<script setup lang="ts">
import {computed} from "vue";
import {useLobbyStore} from "@/store/lobby.store";
import type {UserType} from "@/store/types";

const props = defineProps<{
    currentUser: UserType
}>()

const lobbyStore = useLobbyStore();
const users = computed(() => lobbyStore.users);

</script>

<template>
  <div class="lobby">
      <h2>Lobby</h2>
      <ul>
        <li v-for="user of users">
          <template v-if="user.id == lobbyStore.getCurrentUserId()">
            <span>{{user.username}} (me)</span>
            <template v-if="user.isOnline"> is online</template><template v-else>is offline</template>
          </template>
          <template v-else>
            <a href="#select-user" @click="lobbyStore.selectUser(user)">{{user.username}}</a>
            <template v-if="user.isOnline"> is online</template><template v-else>is offline</template>
          </template>

        </li>
      </ul>
  </div>
</template>

<style scoped>
.lobby {
  border: 1px solid #282828;
  margin: 5px;
  padding: 5px;
}
</style>
