<script setup lang="ts">
  import {useAppStore} from "@/store/app.store";

  const appStore = useAppStore()

</script>

<template>
  <div class="login">
    <form @submit.prevent="appStore.login(username, password)">
      <fieldset>
        <div class="input-control">
          <label for="input-username">Username: </label>
          <input id="input-username" v-model="username">
        </div>
        <div class="input-control">
          <label for="input-password">Password: </label>
          <input id="input-password" v-model="password">
        </div>
      </fieldset>
      <div class="actions">
        <button value="Login" type="submit">Login</button>
      </div>
    </form>
  </div>
</template>

<style scoped lang="scss">
.login {
  fieldset {
    margin-bottom: 5px;
  }
  .input-control {
    display: grid;
    grid-template-columns: [first] 1fr [line2] 1fr;
    margin: 10px;
  }

  .actions {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    button {
      padding: 10px;

    }
  }
}
</style>
