<script setup lang="ts">

import {ref} from "vue";
import {useAppStore} from "@/store/app.store";
import {useChatStore} from "@/store/chat.store";

const chatStore = useChatStore();

let message = ref("");


</script>

<template>
    <div class="messages-form">
        <form @submit.prevent="chatStore.sendMessage(message)">
            <div class="input-control"><textarea name="message" v-model="message" /></div>
            <div class="actions"><button type="submit">Send</button></div>
        </form>
    </div>
</template>

<style scoped>

.messages-form form {
  display: grid;
  grid-template-columns: [first] auto [line2] 100px;
  height: 70px;
  .input-control {
    width: 100%;
    height: 100%;
    textarea {
      width: 100%;
      height: 100%;
    }
  }
  .actions {
    margin-left: 3px;
    width: 100%;
    height: 100%;
    button[type=submit] {
      width: 100%;
      height: 100%;
    }
  }
}
</style>
