<script setup lang="ts">

import {useMessagesStore} from "@/store/messages.store";
import {useChatStore} from "@/store/chat.store";
import moment from "moment";
import {useAppStore} from "@/store/app.store";

const messagesStore = useMessagesStore();
const chatStore = useChatStore();
const appStore = useAppStore();

const sessionUserId = appStore.userId;
</script>

<template>

    <div class="messages-list">
        <div class="message" v-for="message of chatStore.getMessages()">
            <div :class="'message-' + ((appStore.userId == message.from) ? 'outgoing' : 'incoming')">{{message.content}} - {{ moment(message.timestamp).format('MM/DD/YYYY hh:mm:ss')}}</div>
        </div>
    </div>
</template>

<style scoped>
.messages-list {
  overflow-y: auto;
  height: 380px;
  width: 100%;
  .message-incoming {
    text-align: right;
  }
  .message-outgoing {
    text-align: left;
  }
}
</style>
