<script setup lang="ts">
import {computed, onMounted} from "vue";
import Login from "@/components/Login.vue";
import {useAppStore} from "@/store/app.store";
import Chat from "@/components/Chat.vue";

const appStore = useAppStore();
const accessToken = computed(() => appStore.accessToken)

onMounted(() => {
  appStore.bootstrap()
})
</script>

<template>
  <Login v-if="!accessToken" />
  <Chat v-if="accessToken" />
</template>

<style scoped>
</style>
